* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: 'popins', sans-serif;
    
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;

    font-weight: bold;
    border-radius: 5px;
}


.p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    left: -21px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;

}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}

.btn-list {
    display: flex;

}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 19px 9px;
    margin: 26px 3px;
    border-radius: 30px;
}



.btn a:hover {
    background: #563434;

}

.header {
    background: linear-gradient(rgb(248, 204, 138), #b30cb9);
}

.header .row {
    margin-top: 70px;
}

.box {
    margin: auto;
    text-align: center;
    padding: 40px;
    font-size: 30px;
    font: optional;
}

.you {
    margin: auto;
    padding: auto;
    font-size: 50px;
    font-style: italic;
    color: #b204f7;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: 100vh;

}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgb(9, 204, 211);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgb(0, 0, 0.15, );
}

.card span {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    /* background: #b204f7; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card span::before {
    content: 'Get free';
    position: absolute;
    width: 150%;
    height: 40px;
    background: #ff523b;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(12, 39, 103);
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #ff523b;
    z-index: -1;
    box-shadow: 140px -140px #ff523b;

}

.footer {
    Background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;

}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;

}

ul {
    list-style-type: none;
}

hr {
    text-align: center;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

#contact {
    padding: 100px 0px;
    background: #fff;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.contact-left-col,
.contact-right-col {
    flex-basis: 50%;
}

.contact-left-col img {
    width: 100%;
}

.COPY {
    text-align: center;
}

h2 {
    color: blue;
}

.contact-right-col {
    text-align: center;

}

form {
    margin-top: 20px;
}

form input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;

}

textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;


}

.common-btn {
    padding: 10px 30px;
    border: none;
    margin: 10px;
    outline: none;
    background: rgb(55, 0, 255);
    color: #fff;
    border-radius: 8px;
}

.common-btn:hover {
    background: rgb(97, 0, 209);

}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width:1272px) {

    .btn {
        padding: 19px 5px;
        font-size: 18px;
        transition: all 0.1s ease-in;
    }

}

@media only screen and (max-width:1116px) {

    .btn {
        padding: 18px 4px;
        font-size: 13px;
        transition: all 0.1s ease-in;
    }
}
    @media only screen and (max-width:874px) {

        .btn {
            padding: 17px 3px;
            font-size: 12px;
            transition: all 0.1s ease-in;
        }
        .table{

            margin:10px;
        }
        .row{

            margin:10px;
            
            justify-content:center;
            
        }
    }

    @media only screen and (max-width:789px) {
        .btn-list {
            display: flex;
            flex-direction: column;
            margin: 26px 41px;
        }

        .contact-left-col,.contact-right-col {
            flex-basis: 100%;
        }

        .contact-left-col img {
            width: 100%;
        }

        .footer-left-col,.footer-right-col {
            flex-basis: 100%;
        }

        nav ul {
            position: absolute;
            text-align: center;
            top: 70px;
            left: 0;
            background: #333;
            width: 100%;
            /* overflow: hidden; */
            transition:all 0.1s ease-in;
        }

        nav ul li {
            display: flex;
            flex-direction: column;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 50px;
        }

        nav ul li a {
            color: #fff;
        }

        .menu-icon {
            display: block;
            width: 30px;
            cursor: pointer;
        }

    
        .h-nav {
            opacity: 0;

        }

       

        .col-2,.col-3,.col-4 {
            flex-basis: 100%;
        }
        .row{
            text-align: center;
            display: block;
        }
    }

    @media only screen and (max-width:662px) {
        .btn-list {
            display: flex;
            flex-direction: column;
            margin: 26px 41px;
        }

       

    }
